.container{
    max-width: 920px;
}
.img{
    height: 35vh;
    img{
        height: 90%;
        width: 100%;
    }
    p{
        margin: 0;
        font-size: x-small;

    }
    .text{
        padding: 0 15px;

    }
}